body {
    margin: 0;
    padding: 0;
    font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'Yu Mincho', '游明朝', verdana, sans-serif;
    color: #fff;
    background: #000;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ----------header---------- */


.header-box {
    padding: 20px 32px;
    background: #303030;
}

header {
    height: 50px;
    display: flex;
    margin: 0;
    color: black;
}

.st-logo {
    /* display: block; */
    height: 100%;
}

.sp-menu {
    margin-left: auto;
}

.sp-menu #open {
    font-size: 32px;
    line-height: 50px;
    cursor: pointer;
}

.pc-menu {
    display: none;
    font-size: 24px;
    margin: auto 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    background: rgba(255, 255, 255, .95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.hide {
    display: none;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.overlay #close {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 32px;
    cursor: pointer;
}

.overlay ul {
    margin: 0;
    padding: 0;
}

.overlay li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
}

.show li {
    opacity: 1;
    transform: none;
}

.show li:nth-child(1) {
    transition-delay: .1s;
}

.show li:nth-child(2) {
    transition-delay: .2s;
}

.show li:nth-child(3) {
    transition-delay: .3s;
}


/* ----------main---------- */


main {
    padding: 30px;
    margin-bottom: 40px;
}

main article {
    position: relative;
    min-height: 500px;
    background-image: url(../img/logo/asobi/logo2_white_l.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(100, 100, 100, .8);
    background-blend-mode: darken;
    background-size: contain;
    margin-bottom: 20px;
}

.contents {
    padding: 20px;
}

.content-box {
    padding: 10px;
}

main aside {
    background-color: rgba(100, 100, 100, .8);
}

aside h3 {
    border-bottom: solid 3px #333;
    padding: 5px;
}

aside ul {
    margin-bottom: 20px;
    padding: 5px;
}

aside li {
    padding: 5px;
}


/* ----------footer---------- */


footer {
    margin-top: 70px;
    padding: 20px;
    background: #303030;
}

footer > p {
    color: #fff;
    text-align: center;
}


/* ----------medium screen---------- */
@media (min-width: 600px) {
    /* ----------header---------- */
    
    
    header {
        height: 70px;
    }
    
    .sp-menu {
        display: none;
    }

    .pc-menu {
        display: block;
        margin-left: auto;
    }

    .pc-menu ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .pc-menu a {
        display: block;
        width: 100px;
        line-height: 50px;
        text-align: center;
        transition: background .3s, color .3s;
    }

    .pc-menu a:hover {
        /* background: rgba(150, 150, 150, .3);
        color: black; */
        background: #222;
        color: #eee;
    }


    /* ----------main---------- */


    main {
        display: flex;
        justify-content: space-between;
    }
    
    main article {
        margin: 0;
        width: 72%;
    }

    main aside {
        width: 26%;
    }
}






